iframe{
	display: none;
}

header{
	width:100%;
	height:135px;
	margin-bottom: 7em;
	position: relative;
}

#logo {
	float:left;
}

nav {
	width:500px;
	
	font-size:2em;
	color:white;
	
	float:left;

	margin:80px 0 0 0;
}
nav ul li {
	display:inline-block;
	margin-left:40px;
}

nav ul li a {
	color:#fff;
}
#lavalamp {
    background-color:#9ddcf4;
    height: 2px;
    left: 13px;
    position: relative;
    top: 5px;
    width: 50px;
	margin-left:30px;

	-moz-box-shadow: 1px 1px 15px 0px #9ddcf4;
	-webkit-box-shadow: 1px 1px 15px 0px #9ddcf4;
	-o-box-shadow: 1px 1px 15px 0px #9ddcf4;
	box-shadow: 1px 1px 15px 0px #9ddcf4;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#9ddcf4, Direction=134, Strength=30);

    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

nav ul li:nth-of-type(1):hover ~ #lavalamp {
    left: 13px;
}
nav ul li:nth-of-type(2):hover ~ #lavalamp {
    left: 120px;
}
nav ul li:nth-of-type(3):hover ~ #lavalamp {
    left: 240px;
}
/* CANVAS BACKGROUND */
#container{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-10;
	height:100%;
	overflow:hidden;

	background: #1a384c; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #1a384c 0%, #1b212b 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1a384c), color-stop(100%,#1b212b)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #1a384c 0%,#1b212b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #1a384c 0%,#1b212b 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #1a384c 0%,#1b212b 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #1a384c 0%,#1b212b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a384c', endColorstr='#1b212b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* IMG BACKGROUND */
#image_background{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-10;
	height:100%;
	overflow:hidden;

	background: url(img/protos_background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: scroll;
}

body {
	height: 100%;
	margin:0;
	padding:0;
	font-size: 62.5%;

	font-family: 'Electrolize', sans-serif;
}

/* HOME */
#scrolling_text{
	width:400px;
	height:300px;
	float:right;
	color:white;
	overflow:hidden;
}

#scrolling_text h1 {
	font-size:4em;
	line-height: 1.4em;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


/* INBOX NAV*/
.user_actions {
	float:right;
	margin:80px 0 0 0;
}

.user_actions a{
	display: inline-block;
	font-size: 1.3em;
	color: #FFF;
	margin-right:30px;
}
.user_actions a p {
	display:inline-block;
	margin-right:5px;
}

.user_actions a:nth-child(2) p:nth-child(1) {
	font-size: 2.3em;
	padding:3px;
	border:3px solid #fff;
	border-top:none;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	color:#9ddcf4;
}

/* NAV PRODUCTS */

.nav_organes {
	position:absolute;
	top:250px;
	left:300px;
	width:500px;
}

.nav_organes ul li {
	opacity: 0.6;
	position:relative;
	float:left;
	margin:10px;
	margin-top:40px;
}

.nav_organes ul li:nth-child(4) {
	margin-left:70px;
}

.nav_organes ul li:hover{opacity:1;}
.up-details_object, .down-details_object{
	width:100px;
	color:white;
	
	display:none;
	position:absolute;

	font-size:1.6em;
}

.up-details_object{
	margin-top:-175px;
    margin-left:240px; 
}

.down-details_object{
	margin-top:170px;
    margin-left:-230px;
}

.up-line, .down-line{
	position:absolute;
    width: 1px;
    height: 0px;
    -webkit-transform: translate(100px, 0px) rotate(60deg);
    -moz-transform: translate(100px, 0px) rotate(60deg);
    background-color: #fff;
   	display:block;

    -webkit-transition-property: height;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-out;
	
     -moz-transition-property: height;
	-moz-transition-duration: 0.1s;
	-moz-transition-timing-function: ease-out;
	
	transition-property: height;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}
.up-line {
    margin-top:-175px;
    margin-left:30px;
}

.down-line {
    margin-top:15px;
    margin-left:-185px;
}

.nav_organes ul li:hover .up-line{display:block;height: 200px;}
.nav_organes ul li:hover .up-details_object{display:block;}

.nav_organes ul li:hover .down-line{display:block;height: 200px;}
.nav_organes ul li:hover .down-details_object{display:block;}

.nav_organes ul li a span {
	background-image:url('img/blue_fond.png');
	display: block;
	width:58px;
	height:90px;
	position: absolute;

	top:0;
	right:5px;
	z-index:1;
}

.hexagon {
	width: 100px;
	height: 45px;
	background: #000;
	position:relative;
	color:white;
	text-align:center;
	padding-top:20px;

	font-size:1.8em;
}

.hexagon:before {
	content: "";
	position: absolute;
	top: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 30px solid #000;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -28px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 28px solid #000;
}

#slogan {
	float:right;
	font-size:3em;
	color:#fff;
	opacity:0.8;
	width:450px;
	text-align:right;
	font-style: italic;
	padding:10px;
	line-height: 1.3em;
}

/*FIN PRODUCTS*/
/* SINGLE ORGAN */

#wrapper{
	width:1200px;
	margin:0 auto;
	margin-bottom:55px;
}

/* WINDOW 3D*/
#organ_3d{
	float:left;
	
	width:600px;
	height:100%;

	cursor:pointer;
}
#rotate_control{
	display:block;
	background-color:white;
	height:25px;
	width:25px;
	float:left;
}

/* PANNEAU DETAILS*/
#organ_details{
	float:right;
	background-color: rgba(21,23,28,0.9);
	width:500px;

	padding:15px;
	color:#fff;
}

#organ_details h2 {
	font-size:2.2em;
	padding:10px 0 10px 0;
	
	display:inline-block;
}

#organ_details > p {
	font-size:1.6em;
	color:white;
	display: inline-block;
	float:right;
	margin-left:20px;
	cursor: pointer;

	padding:5px;
	color: #e6f4fc;
	background: #2a384e;
	border: 1px solid #2a384e;
	text-shadow: 1px 1px 0 #121821;
	box-shadow: 0 2px 0 #161926;
}

/* TEXT ORGAN */
#organ_resume p {
	font-size:1.4em;
	padding:10px;
}

/* FORM ORGAN */
#organ_perso ul {
	width:100%;
	font-size:1.6em;
	padding:10px 0 10px 0;

	border-top:1px solid #292c33;
}

#organ_perso ul li:first-child{
	margin-bottom:10px;
	color:#aabad2;
}
#organ_perso ul li {
	width:100%;
	padding:10px 0 10px 0;
}
#organ_perso ul li:last-child {
	font-size:1.6em;
	border-top: 1px solid #292c33;
	border-bottom: 1px solid #292c33;
	height:30px;
}

#organ_perso ul li p:nth-child(1){
	float:left;
	padding-right:10px;
}

#organ_perso ul li input{
	width:200px;
	margin-top:10px;
}

#organ_perso ul li span{
	padding:0 5px;
}
.atr_price{
	font-size:1.2em;
	float:right;
}

#organ_perso input[type="submit"] {
	display: inline-block;
	width: 100%;
	padding: .5em .5em;
	margin: 0 auto;
	cursor: pointer;
	color: #e6f4fc;
	background: #2a384e;
	border: 1px solid #2a384e;
	text-shadow: 1px 1px 0 #121821;
	box-shadow: 0 2px 0 #161926;
	font-size: 1.4em;
}


/* SIGN IN / SIGN UP */
#signin {
	background-color: rgba(21,23,28,0.9);
	width:500px;
	margin: 0 auto;
	padding:15px;

	color:#fff;
}

#signin h2 ,#account h2, #basket h2 {
	font-size:2.2em;
	padding:10px 0 10px 0;
	border-bottom:1px solid black;
}

#signin h3, #account h3 {
	font-size: 1.8em;
	margin: 1em 0 .5em;
}

#signin fieldset, #account fieldset{
	border-top:1px solid #292c33;
	border-bottom:1px solid black;
}

#signin fieldset:last-child, #account fieldset:last-child{
	border-bottom: 0;
	padding-top: 2em;
	text-align: center;
}

#signin label, #account label{
	display: inline-block;
	width: 25%;
	padding-right: 1em;
	font-size: 1.4em;
	text-align: right;
	color: #aabad2;
}

#signin input, #account input{
	width: 60%;
	display: inline-block;
	padding: .5em .5em;
	margin-bottom: 1em;
	color: #4f5153;
	border: 1px solid #16181d;
	font-size: 1.4em;
}

#signin input[type="submit"] {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
	cursor: pointer;
	color: #e6f4fc;
	background: #2a384e;
	border: 1px solid #2a384e;
	text-shadow: 1px 1px 0 #121821;
	box-shadow: 0 2px 0 #161926;
}

#signin .signin label {
	width: 35%;
	text-align: left;
}

#signin input[type="radio"]{
	width: 10%;
}

#password_disabled[disabled="disabled"] {
	background-color: #969696;
}

/* ACCOUNT / HISTORY */

#account {
	width:800px;
	margin:0 auto;
}
#account p {
	padding-right: 1em;
	padding-top:0.5em;
	font-size: 1.4em;
	color: #aabad2;
}
#account p span {
	color: #fff;
}

#account_details, #account_history{
	background-color: rgba(21,23,28,0.9);
	width:360px;
	padding:15px;
	color:#fff;
}
#account_details{float:left;}
#account_history{float:right;}

/* BASKET */
#basket, #purchased {
	width:800px;
	margin:0 auto;
	background-color: rgba(21,23,28,0.9);
	padding:15px;
	color:#fff;
}
#basket ul{
	border-bottom:1px solid #292c33;
}
#basket img{
	height:100px;
	width:100px;
	float:left;
}
#basket > p:first-child{
	width:20px;
	font-size: 2.3em;
	padding:3px;
	border:3px solid #fff;
	border-top:none;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	color:#9ddcf4;
	float:left;
	margin-right: 20px;
}

#basket ul li {
	height:100px;
	font-size:1.4em;
	padding-top:15px;
	border-top:1px solid #292c33;
	border-bottom:1px solid #121419;
}

#basket ul li p:nth-child(2) {
	display:block;
	font-size: 1.8em;
	padding-bottom:5px;
}
#basket ul li p:nth-child(3) {
	width:500px;
	float:left;
}

#basket ul li div{
	float:right;
	padding:0 20px;
	font-size:1.6em;
	color:#aabad2;
}

#basket ul li div a{
	color:#aabad2;
	font-size: 1rem;
}

#basket input[type="submit"] {
	display: block;
	width: 200px;
	padding: .5em .5em;
	margin: 0 auto;
	margin-top:15px;
	cursor: pointer;
	color: #e6f4fc;
	background: #2a384e;
	border: 1px solid #2a384e;
	text-shadow: 1px 1px 0 #121821;
	box-shadow: 0 2px 0 #161926;
	font-size: 1.4em;
}

/* PURCHASED BPX*/

#purchased img {
	width:350px;
	display:block;
	margin:0 auto;
}

#purchased p {
	width:420px;
	font-size:1.4em;
	text-align:center;
	margin:0 auto;
	padding:10px 0 10px 0;
}

/* FOOTER */
footer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background: #242830;
}

footer a {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(img/mute.png) no-repeat;
	text-indent: -9000em;
	position: absolute;
	right: 2em;
	top: 1.3em;
}