iframe{
	display: none;
}

header{
	width:100%;
	height:135px;
}

/* CANVAS BACKGROUND */
#container{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-10;
	height:100%;
	overflow:hidden;

	background: #131821; /* Old browsers */
	background: -moz-linear-gradient(top,  #131821 0%, #181626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#131821), color-stop(100%,#181626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #131821 0%,#181626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #131821 0%,#181626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #131821 0%,#181626 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #131821 0%,#181626 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131821', endColorstr='#181626',GradientType=0 ); /* IE6-9 */

}

body {
	margin:0;
	padding:0;
	font-size: 62.5%;

	font-family: 'Electrolize', sans-serif;
}

nav {
	position:absolute;
	top:250px;
	left:300px;
}

nav:nth-of-type(2){
	top:350px;
	left:360px;
}

nav ul li {
	opacity: 0.6;
	position:relative;
	float:left;
	margin:10px;
}

nav ul li:hover{opacity:1;}

.up-details_object, .down-details_object{
	width:100px;
	color:white;
	
	display:none;
	position:absolute;

	font-size:1.6em;
}

.up-details_object{
	margin-top:-175px;
    margin-left:240px; 
}

.down-details_object{
	margin-top:170px;
    margin-left:-230px;
}

.up-line, .down-line{
	position:absolute;
    width: 1px;
    height: 200px;
    -webkit-transform: translate(100px, 0px) rotate(60deg);
    -moz-transform: translate(100px, 0px) rotate(60deg);
    background-color: #fff;
    display: none;
}
.up-line {
    margin-top:-175px;
    margin-left:40px;
}

.down-line {
    margin-top:15px;
    margin-left:-185px;
}

nav ul li:hover .up-line{display:block;}
nav ul li:hover .up-details_object{display:block;}

nav ul li:hover .down-line{display:block;}
nav ul li:hover .down-details_object{display:block;}

nav ul li a span {
	background-image:url('img/blue_fond.png');
	display: block;
	width:58px;
	height:90px;
	position: absolute;

	top:0;
	right:5px;
	z-index:1;
}

.hexagon {
	width: 100px;
	height: 45px;
	background: #000;
	position:relative;
	color:white;
	text-align:center;
	padding-top:20px;

	font-size:1.8em;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 30px solid #000;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -28px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 28px solid #000;
}
/* SINGLE ORGAN */

#wrapper{
	height:500px;
	width:1200px;
	margin:0 auto;
}
#organ_3d{
	float:left;
	
	width:600px;
	height:100%;
}
#organ_details{
	float:right;
	background-color: rgba(21,23,28,0.9);
	width:500px;
	height:100%;

	padding:15px;

	color:#fff;
}

#organ_details h2 {
	width:100%;
	font-size:2.2em;

	padding:10px 0 10px 0;

	border-bottom:1px solid black;
}

#organ_details ul {
	width:100%;
	font-size:1.6em;
	padding:20px 0 10px 0;

	border-top:1px solid #292c33;
}
#organ_details ul li {
	width:100%;
	padding:10px 0 10px 0;
}
#organ_details ul li p:nth-child(1){
	padding:5px 0 8px 0;
}
#organ_details ul li input{
	width:200px;
}

#organ_details ul li span{
	padding: 0 5px 0 5px;
}
.atr_price{
	font-size:1.4em;
	float:right;
}

/* SIGN IN / SIGN UP */
#signin {
	background-color: rgba(21,23,28,0.9);
	width:500px;
	height:100%;
	margin: 0 auto;
	padding:15px;

	color:#fff;
}

#signin h2 {
	font-size:2.2em;

	padding:10px 0 10px 0;

	border-bottom:1px solid black;
}

#signin fieldset {
	border-top:1px solid #292c33;
	border-bottom:1px solid black;
}

#signin fieldset:last-child {
	border-bottom: 0;
	padding-top: 2em;
	text-align: center;
}

#signin h3 {
	font-size: 1.8em;
	margin: 1em 0 .5em;
}

#signin label {
	display: inline-block;
	width: 25%;
	padding-right: 1em;
	font-size: 1.4em;
	text-align: right;
	color: #aabad2;
}

#signin input {
	width: 60%;
	display: inline-block;
	padding: .5em .5em;
	margin-bottom: 1em;
	color: #4f5153;
	border: 1px solid #16181d;
	font-size: 1.4em;
}

#signin input[type="submit"] {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
	cursor: pointer;
	color: #e6f4fc;
	background: #2a384e;
	border: 1px solid #2a384e;
	text-shadow: 1px 1px 0 #121821;
	box-shadow: 0 2px 0 #161926;
}

#signin .signin label{
	width: 35%;
	text-align: left;
}

#signin input[type="radio"]{
	width: 10%;
}

/* FOOTER */
footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	background: #242830;
}

footer a {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(img/mute.png) no-repeat;
	text-indent: -9000em;
	position: absolute;
	right: 2em;
	top: 1.3em;
}