<?php include("partials/header.html"); ?>
<style type="text/css">body {overflow:hidden;}</style>
<script type="text/javascript" src="public/js/lib/jquery.vegas.js"></script>
<link rel="stylesheet" type="text/css" href="public/css/jquery.vegas.css" />
<script>
	$( function() {
		  $.vegas({
		    src:'public/css/img/protos_background.jpg',
		    fade:3000
		  });
		  $.vegas('overlay', {
		    src:'public/css/overlays/02.png'
		  });
	});
</script>
<script>
window.onload = function()
{
    //adding the event listerner for Mozilla
    if(window.addEventListener)
        document.addEventListener('DOMMouseScroll', moveObject, false);
 
    //for IE/OPERA etc
    document.onmousewheel = moveObject;
}
function moveObject(event)
{
    var delta = 0;
 
    if (!event) event = window.event;
 
    // normalize the delta
    if (event.wheelDelta) {
 
        // IE and Opera
        delta = event.wheelDelta / 60;
 
    } else if (event.detail) {
 
        // W3C
        delta = -event.detail / 2;
    }
 
    var currPos=document.getElementById('scrolling_text').scrollTop;
 	console.log(delta);
    //calculating the next position of the object
    currPos=(currPos)-(delta*3);
 
    //moving the position of the object
    document.getElementById('scrolling_text').scrollTop = currPos;
}
</script>
<div id="push_products"><a href="products">Meet the evolution</a></div>
<div id="scrolling_text">
		<h1>Building your future since 2213</h1>
		<span id="scrolldown">Scroll down <i class="icon-double-angle-down"></i></span>
		<p>Protos is a company originally created in 2213 by five innovators willing to help people.</p>
		<p>Among us are a bunch of doctors and biology experts. We’ve noticed that even now, in a Time when we have greatly improved our mastery of technology, coming across a person missing a limb or an eye in the street is not that rare. And we thought : “ How? Can’t we fix that? Can’t them? “, and here we are. Several years later, we managed to create and popularize bionic organs to help the whole population.</p>
		<p>We are very happy to have come this far already, but we are host to a much greater ambition. The world evolves, and we want the human beings to evolve along with it.</p>
</div>
<?php include("partials/footer.html"); ?> 