<?php include("header.html"); ?>
<div id="image_background"></div>
<div id="scrolling_text">
	<h1>Building your future since 2213</h1>
	<span>Scroll down</span>
	<p>Protos is a company originally created in 2213 by five innovators willing to help people.</p>
	<p>Among us are a bunch of doctors and biology experts. We’ve noticed that even now, in a Time when we have greatly improved our mastery of technology, coming across a person missing a limb or an eye in the street is not that rare. And we thought : “ How? Can’t we fix that? Can’t them? “, and here we are. Several years later, we managed to create and popularize bionic organs to help the whole population.</p>
	<p>We are very happy to have come this far already, but we are host to a much greater ambition. The world evolves, and we want the human beings to evolve along with it.</p>
</div>
<?php include("footer.html"); ?> 