<?php include("header.html"); ?> 
<div id="basket">
		<p>0</p><h2>Item in box</h2>
		<ul>
			<li>
				<img src="public/images/eye.png" alt="">
				<p>Product name - 12123</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui illum quisquam inventore ducimus a cumque assumenda soluta iure ipsam vitae obcaecati nostrum nisi iusto culpa facilis ipsa reiciendis. Aspernatur tempore!</p>
				<div>
					<p>2323$</p>
					<a href="#">more details</a>
				</div>
			</li>
			<li>
				<img src="public/images/eye.png" alt="">
				<p>Product name - 12123</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui illum quisquam inventore ducimus a cumque assumenda soluta iure ipsam vitae obcaecati nostrum nisi iusto culpa facilis ipsa reiciendis. Aspernatur tempore!</p>
				<div>
					<p>2323$</p>
					<a href="#">more details</a>
				</div>
			</li>
		</ul>
</div>
<?php include("footer.html"); ?> 