<?php include("partials/header.html"); ?>
<script type="text/javascript" src="public/js/lib/jquery.vegas.js"></script>
<link rel="stylesheet" type="text/css" href="public/css/jquery.vegas.css" />
<style type="text/css">body {overflow:hidden;}</style>
<script>
	$( function() {
		  $.vegas({
		    src:'public/css/img/retro_futurism.jpg',
		    fade:3000
		  });
		  

	   	var $window = $(window),
	       	$stickyEl = $('#concept .second'),
	       	elTop = $stickyEl.offset().top;

		$window.scroll(function() {
		    $stickyEl.toggleClass('sticky_top', $window.scrollTop() > elTop);
		});
	});
</script>
<script>
window.onload = function()
{
    //adding the event listerner for Mozilla
    if(window.addEventListener)
        document.addEventListener('DOMMouseScroll', moveObject, false);
 
    //for IE/OPERA etc
    document.onmousewheel = moveObject;
    document
}
function moveObject(event)
{
    var delta = 0;
 
    if (!event) event = window.event;
 
    // normalize the delta
    if (event.wheelDelta) {
 
        // IE and Opera
        delta = event.wheelDelta / 60;
 
    } else if (event.detail) {
 
        // W3C
        delta = -event.detail / 2;
    }
 
    var currPos=document.getElementById('scrolling_text').scrollTop;
 	console.log(delta);
    //calculating the next position of the object
    currPos=(currPos)-(delta*3);
 
    //moving the position of the object
    document.getElementById('scrolling_text').scrollTop = currPos;
}
</script>

<div id="scrolling_text">
		<h1>We have mastered the creation</h1>
		<span id="scrolldown">Scroll down <i class="icon-double-angle-down"></i></span>
		<p>We at Protos have some of the best minds of our era to help you. The finest doctors as well as biologist are here to make your life easier.</p>
		<p>Our first goal is to create bionic organs ( arms, hands, legs, hearts, brains, lungs, eyes, ears, … ) so people missing them no longer have to see their handicap as a fatality. </p>
		<p>We have witnessed the evolution of the world for years now, but the human race is being dragged behind. We want, quite simply, to put everybody on the same footing.</p>
</div>
<div id="concept">
	<h1>" We want to evolve, and we want to do it together, with you. "</h1>
	
</div>
<?php include("partials/footer.html"); ?> 