<?php include("partials/header.html"); ?>
<script type="text/javascript" src="public/js/lib/jquery.vegas.js"></script>
<link rel="stylesheet" type="text/css" href="public/css/jquery.vegas.css" />
<script>
	$( function() {
		  $.vegas({
		    src:'public/css/img/retro_futurism.jpg',
		    fade:3000
		  });
		  

	   	var $window = $(window),
	       	$stickyEl = $('#concept .second'),
	       	elTop = $stickyEl.offset().top;

		$window.scroll(function() {
		    $stickyEl.toggleClass('sticky_top', $window.scrollTop() > elTop);
		});
	});
</script>
<div id="concept">
	<h1>" We want to evolve, and we want to do it together, with you. "</h1>
	
</div>
<?php include("partials/footer.html"); ?> 