<?php include("partials/header.html"); ?>
<div id="container"></div>
<div id="conditions">
	<h1>Protos CONDITIONS OF USE AND SALE</h1>
	<p>Last updated on September 5, 2012</p>
	<p>Welcome to Protos.com.</p>
	<p>Protos industries and/or its affiliates ("Protos") provide website features and other products and services to you when you visit or shop at Protos.com (the "website"), use Protos products or services, use Protos applications for mobile, or use software provided by Protos in connection with any of the foregoing (collectively " Protos Services"). Protos provides the Protos Services and sells our products to you subject to the conditions set out on this page.</p>
	<h2>CONDITIONS OF USE</h2>
	<p><span>Please read these conditions carefully before using Protos Services.  By using Protos Services, you signify your agreement to be bound by these conditions.  </span>We offer a wide range of Protos Services, and sometimes additional terms may apply.  When you use an Protos Service (for example Your Profile, Gift Cards or Protos applications for mobile), you will also be subject to the terms, guidelines and conditions applicable to that Protos Service ("Service Terms").  If these Conditions of Use are inconsistent with the Service Terms, those Service Terms will control.</p>
	<h3>1    PRIVACY</h3>
	<p>Please review our Privacy Notice and Cookies & Internet Advertising Policy, which also govern your use of Protos Services, to understand our practices.</p>
</div>
<?php include("partials/footer.html"); ?> 