<?php include("header.html"); ?> 
		<div class="nav_organes">
			<ul>
				<li>
					<div class="down-line"></div>
					<div class="down-details_object">Lorem PSUMSUM</div>
					<a href="organ"><div class="hexagon"><span></span>Hands</div></a>
				</li>
				<li>
					<div class="down-line"></div>
					<div class="down-details_object">Lorem PSUMSUM</div>
					<a href="organ"><div class="hexagon"><span></span>Legs</div></a>
				</li>
				<li>
					<div class="up-line"></div>
					<div class="up-details_object">Lorem PSUMSUM</div>
					<a href="organ"><div class="hexagon"><span></span>Arms</div></a>
				</li>
				<li>
					<div class="down-line"></div>
					<div class="down-details_object">Lorem PSUMSUM</div>
					<a href="organ"><div class="hexagon"><span></span>Heart</div></a>
				</li>
				<li>
					<div class="up-line"></div>
					<div class="up-details_object">
						<p>X-Ray</p>
						<p>Vision</p>
						<p>Zoom</p>
						<p>Colors</p>
						<p>Pictures</p>
					</div>
					<a href="organ"><div class="hexagon"><span></span>Eyes</div></a>
				</li>
				<li>
					<div class="up-line"></div>
					<div class="up-details_object">Lorem PSUMSUM</div>
					<a href="organ"><div class="hexagon"><span></span>Lungs</div></a>
				</li>
				<li>
					<div class="down-line"></div>
					<div class="down-details_object">Lorem PSUMSUM</div>
					<a href="organ"><div class="hexagon"><span></span>Brain</div></a>
				</li>
			</ul>
		</div>
		<div id="slogan"><h1>" The world is evolving, and we wont be left behind. "</h1></div>
<?php include("footer.html"); ?> 