<?php include("partials/header.html"); ?>
<script type="text/javascript" src="public/js/background.js"></script>
<div id="container"></div> 
		<div class="nav_organes">
			<ul>
				<?php foreach($organs as $item): ?>
				<li>
					<div class="up-line"></div>
					<div class="up-details_object">
						<?php foreach($characteristics as $characteristic): ?>
							<?php if($characteristic->organ_id == $item->id): ?>
								<p><?php echo $characteristic->name ?></p>
							<?php endif; ?>
						<?php endforeach; ?>
					</div>
					<a href="<?php echo $item->id.'-'.$item->name ?>"><div class="hexagon"><span></span><?php echo $item->name ?></div></a>
				</li>
				<?php endforeach; ?>
			</ul>
		</div>
		<div id="slogan"><h1>" The world is evolving, and we wont be left behind. "</h1></div>
<?php include("partials/footer.html"); ?> 