<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<base href="<?php echo $BASE; ?>/" />
	<title>PROTOS Industries</title>
	<meta name="description" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="public/css/reset.css" type="text/css" media="screen"  />
	<link rel="stylesheet" href="public/css/protos.css" type="text/css" media="screen"  />
	<link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="public/js/lib/modernizr-2.5.3.min.js"></script>
	<script type="text/javascript" src="public/js/protos.js"></script>
	<!-- Temporary Script File for Three.js tests
	<script type="text/javascript" src="public/js/lib/three.min.js"></script>
	<script type="text/javascript" src="public/js/background.js"></script>
	<!-- End Of Temporary Script File -->
	<script type="text/javascript" src="public/js/lib/soundcloud.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	
</head>

<body>
	<div id="container"></div>
	<header>
		<img id="logo" src="public/images/protos_logo_final.png" height="200" width="270">
	</header>
	<nav>
		<ul>
			<li>
				<div class="up-line"></div>
				<div class="up-details_object">Lorem PSUMSUM</div>
				<a href="#"><div class="hexagon"><span></span>Heart</div></a>
			</li>
			<li>
				<div class="up-line"></div>
				<div class="up-details_object">
					<p>X-Ray</p>
					<p>Vision</p>
					<p>Zoom</p>
					<p>Colors</p>
					<p>Pictures</p>
				</div>
				<a href="#"><div class="hexagon"><span></span>Eyes</div></a>
			</li>
			<li>
				<div class="up-line"></div>
				<div class="up-details_object">Lorem PSUMSUM</div>
				<a href="#"><div class="hexagon"><span></span>Lumbs</div></a>
			</li>
		</ul>
	</nav>
	<nav>
		<ul>
			<li>
				<div class="down-line"></div>
				<div class="down-details_object">Lorem PSUMSUM</div>
				<a href="#"><div class="hexagon"><span></span>Hands</div></a>
			</li>
			<li>
				<div class="down-line"></div>
				<div class="down-details_object">Lorem PSUMSUM</div>
				<a href="#"><div class="hexagon"><span></span>Legs</div></a>
			</li>
			<li>
				<div class="down-line"></div>
				<div class="down-details_object">Lorem PSUMSUM</div>
				<a href="#"><div class="hexagon"><span></span>Arms</div></a>
			</li>
		</ul>
	</nav>
	<footer>
		<iframe width="580" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/79132898&amp;auto_play=false"></iframe>
		<a href="">Mute</a>
	</footer>
</body>
</html>