<?php include("partials/header.html"); ?> 
<script type="text/javascript" src="public/js/background.js"></script>
<div id="container"></div>
<div id="purchased">
	<img src="public/images/protos_logo_final.png" alt="">
	<p>Thank you for purchasing our product(s)!</p>
	<p>You will receive it at the address you specified in the upcoming days. We hope you will be satisfied. If you have anything to report, feel free to contact us at protosindustries@gmail.com.</p>
	<p>Thank you for your trust, and welcome to the future.</p>
</div>
<?php include("partials/footer.html"); ?> 