<?php include("header.html"); ?> 
	<div id="signin">
		<h2>Sign in</h2>
		<form action="" method="post" autocomplete="off">
			<fieldset class="signin">
				<h3>Please enter your email address</h3>
				<label for="email">E-mail address:</label><input type="email" name="email" id="email" placeholder="E-mail address" required>
				
				<h3>Do you have a ProtosInd.com password?</h3>
				<label for="no">No, I am a new customer:</label><input type="radio" name="account_choice" id="no" value="no">
				<label for="yes">Yes, I have a password:</label><input type="radio" name="account_choice" id="yes" value="yes"><input type="password" name="password" id="password_disabled" placeholder="Password" disabled="disabled">
			</fieldset>
			<fieldset>
				<input type="submit" value="Sign in">
			</fieldset>
		</form>
	</div>
	</div>
<?php include("footer.html"); ?> 