<?php include("header.html"); ?>
<script type="text/javascript" src="public/js/background.js"></script>
<div id="container"></div>
	<script type="text/javascript" src="public/js/lib/ColladaLoader.js"></script>
	<script type="text/javascript" src="public/js/lib/TrackballControls.js"></script>
	<!--<script type="text/javascript" src="public/js/organ.js"></script>-->
		<div id="organ_3d">
		</div>
		<div id="rotate_control"></div>
		<div id="organ_details">
			<h2><?php echo $organ->name ?></h2>
			<p id="a_perso" href="#">Personalization</p>
			<p id="a_resume" href="#">Details</p>
			<div id="organ_resume">
				<p><?php echo $organ->description ?></p>
			</div>
			<div id="organ_perso">
				<form action="">
				<ul>
					<li>
						<p>Price : </p><p class="atr_price "><span class="initial_price"><?php echo $organ->price;?></span>$</p>
					</li>
					<?php foreach($characteristics as $item): ?>
						<?php switch($item->type){
							case "range": ?>
								<li>
									<p><?php echo $item->name ?> :</p><span class="characteristic_value"><?php echo $item->minvalue ?></span><span><?php echo $item->unit ?></span></p>
									<span>-</span><input type="range" class="range" name="myRange"  title="<?php echo $item->name ?>" value="0"  min="<?php echo $item->minvalue ?>" max="<?php echo $item->maxvalue ?>" step="<?php echo $item->step ?>"><span>+</span>
									<p class="atr_price">+ <span class="charac_price">0</span>$</p>
								</li>
							<?php break;
							case "checkbox":
								echo "checkbox";
							break;
						} ?>
					<?php endforeach; ?>
					<li>
						<p id="total_perso">Total:</p><p class="atr_price total"><?php echo $organ->price;?>$</p>
					</li>
				</ul>
				<input type="submit" value="Buy object">
				</form>
			</div>
		</div>
<?php include("footer.html"); ?>