<?php include("header.html"); ?>
	<script type="text/javascript" src="public/js/lib/ColladaLoader.js"></script>
	<script type="text/javascript" src="public/js/lib/TrackballControls.js"></script>
	<!--<script type="text/javascript" src="public/js/organ.js"></script>-->
		<div id="organ_3d">
		</div>
		<div id="rotate_control"></div>
		<div id="organ_details">
			<h2><?php echo $organ->name ?></h2>
			<p id="a_perso" href="#">Personalization</p>
			<p id="a_resume" href="#">Details</p>
			<div id="organ_resume">
				<p><?php echo $organ->description ?></p>
			</div>
			<div id="organ_perso">
				<ul>
					<?php foreach($characteristics as $item): ?>
						<?php switch($item->type){
							case "range": ?>
								<li>
									<p><?php echo $item->name ?> :</p><span class="characteristic_value"><?php echo $item->minvalue ?></span><span><?php echo $item->unit ?></span></p>
									<span>-</span><input type="range" class="range" name="myRange"  title="<?php echo $item->name ?>" value="0"  min="<?php echo $item->minvalue ?>" max="<?php echo $item->maxvalue ?>" step="<?php echo $item->step ?>"><span>+</span>
									<p class="atr_price">+ 0$</p>
								</li>
							<?php break;
							case "checkbox":
								echo "checkbox";
							break;
						} ?>
					<?php endforeach; ?>
					<!--<li>
						<p>Usable surface :</p><p>79 Years</p>
						<span>-</span><input type="range"  id="range" name="myRange"  title="Curseur" value="0"  min="0" max="500" step="5" onChange="document.getElementById('poupou').textContent=value"><span>+</span>
						<p class="atr_price" id="poupou">+50$</p>
					</li>
					<li>
						<p>Usable surface :</p><p>79 Years</p>
						<span>-</span><input type="range"><span>+</span>
						
						<p class="atr_price">+50$</p>
					</li>
					<li>
						<p>Usable surface :</p><p>79 Years</p>
						<span>-</span><input type="range"><span>+</span>
						<p class="atr_price">+500$</p>
					</li>
					<li>
						<p>Usable surface :</p><p>79 Years</p>
						<span>-</span><input type="range"><span>+</span>
						<p class="atr_price">+50$</p>
					</li>
					<li>
						<p>Feelings<a></a></p>
						<input type="checkbox">
						<p class="atr_price">+500$</p>
					</li>-->
				</ul>
				
			</div>
		</div>
<?php include("footer.html"); ?>