<?php include("header.html"); ?>
	<script type="text/javascript" src="public/js/lib/ColladaLoader.js"></script>
	<script type="text/javascript" src="public/js/lib/TrackballControls.js"></script>
	<!--<script type="text/javascript" src="public/js/organ.js"></script>-->
		<div id="organ_3d">
		</div>
		<div id="rotate_control"></div>
		<div id="organ_details">
			<h2><?php echo $organ->name ?></h2><p id="a_perso" href="#">Personalization</p><p id="a_resume" href="#">Details</p>
			<div id="organ_resume">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam consequuntur sed eaque est voluptatem enim sit fugiat at corporis harum neque placeat nihil accusantium veniam voluptas. Rerum modi veniam facere.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus culpa quos laudantium excepturi rem nihil odit minus perferendis ratione neque sapiente reprehenderit asperiores aspernatur odio exercitationem quo delectus ea harum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laboriosam minima maiores neque saepe recusandae omnis molestiae cupiditate illum ullam. Amet porro adipisci quisquam ipsam facilis possimus tenetur nihil natus.</p>
			</div>
			<div id="organ_perso">
				<ul>
					<li>
						<p>Longevity<a></a></p>
						<span>-</span><input type="range"  id="range" name="myRange"  title="Curseur" value="0"  min="0" max="500" step="5" onChange="document.getElementById('poupou').textContent=value"><span>+</span>
						<p class="atr_price" id="poupou">+50$</p>
					</li>
					<li>
						<p>Usable surface<a></a></p>
						<span>-</span><input type="range"><span>+</span>
						<p class="atr_price">+50$</p>
					</li>
					<li>
						<p>Memory<a></a></p>
						<span>-</span><input type="range"><span>+</span>
						<p class="atr_price">+500$</p>
					</li>
					<li>
						<p>Reflex<a></a></p>
						<span>-</span><input type="range"><span>+</span>
						<p class="atr_price">+50$</p>
					</li>
					<li>
						<p>Feelings<a></a></p>
						<input type="checkbox">
						<p class="atr_price">+500$</p>
					</li>
				</ul>
				
			</div>
		</div>
	</div>
<?php include("footer.html"); ?>